body{
  background-color: #e0e0e0 !important;
}

.tableCenter{
  display: table;
  height: 100vh;
}

.tableCellCenter{
  display: table-cell;
  vertical-align: middle;
}

.floatRight{
  float: right;
}

.hidden{
  display: none !important;
}

.centerText{
  text-align: center;
}

.calcCont{
  background: #fbfbfb;
  padding: 25px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 1px 2px darkgrey;
}

.badVal{
  border: 1px solid red;
}
